<a href="https://colab.research.google.com/github/IslamelGebaly/DPPTasksEpsilon/blob/main/IslamElgebaly_Task_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# you are working for a company that handling emails so your manager askes you to see the most domain that recieves emails

> Dataset : Enron_email_threads_updated.csv

In [1]:
import pandas as pd
import numpy as np

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
df = pd.read_csv("drive/MyDrive/Datasets/Enron_email_threads_updated.csv", encoding="utf-16", sep = "\t")

In [7]:
df.sample(10)

,TID,MID,From,TO,Timestamp,Type
189,e9a0af58b533807,e9a0af58b533807,scott.coburn@enron.com,mark.begley@enron.com,2001-10-18T09:40:26-07:00,BCC
68061,e9b9961201989e4,e9b9961201989e4,bstephen@academicplanet.com,smithadria@hotmail.com,2001-10-23T05:43:20-07:00,TO
162942,e9ef1454897b61d,e9ef1454897b61d,lorna.brennan@enron.com,martha.janousek@enron.com,2001-11-02T14:01:07-08:00,TO
309816,ea6a499f52de907,ea6a499f046cb53,ginger.dernehl@enron.com,llewelyn.hughes@enron.com,2001-11-26T12:12:37-08:00,TO
264593,ea0cab24cec5376,ea0dbafe7c7ba85,kenneth.thibodeaux@enron.com,john.swinney@enron.com,2001-11-08T12:51:46-08:00,TO
25588,e9a097e9578b92b,e9a097e82558eb8,jae.black@enron.com,ted.ballinger@enron.com,2001-10-18T09:14:50-07:00,TO
393648,ea3196e91e4b6d1,ea3196e80db2c38,l..denton@enron.com,ryan.slinger@enron.com,2001-11-15T11:58:41-08:00,TO
175215,e94b199ac44abc2,e94b199ac44abc2,kysa.alport@enron.com,holden.salisbury@enron.com,2001-10-01T18:49:09-07:00,TO
324367,ea6fc6e107c04fc,ea6fc6e1bf07ca2,ruby.kyser@enron.com,willie.stewart@enron.com,2001-11-27T13:47:32-08:00,TO
53161,e9b56f356785a9b,e9b56f34219c87a,victoria.versen@enron.com,kimberly.bates@enron.com,2001-10-22T10:22:24-07:00,TO

In [10]:
df["TO"].isna().sum()

2

In [12]:
def extract_domain(x):
  try: return x.split("@")[1]
  except: return np.nan

In [13]:
df["domain"] = df["TO"].apply(extract_domain)
df["domain"].sample(10)

372773    enron.com
99090     enron.com
345137    enron.com
421180    enron.com
95268     enron.com
332821    enron.com
76295     enron.com
179806    enron.com
235330    enron.com
416265    enron.com
Name: domain, dtype: object

In [16]:
df.groupby("domain").count()["TID"].sort_values(ascending = False).head(1)

domain
enron.com    442340
Name: TID, dtype: int64